.baocao {
    margin-top: 20px;
    margin-bottom: 100px;
    .title {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .list {
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
    }
}