.container2 {
    width: 60%;
    margin: auto;
}

.detailPage {
    background-color: #F8F8F8;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 720px;
    &-top {
        padding: 30px;
        display: flex;
        &-img {
            width: 230px;
            height: 350px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &-detail {
            margin-left: 30px;
            margin-right: 50px;
            .nameBookDT {
                width: 650px;
                font-size: 18px;
                text-transform: capitalize;
                font-weight: 600;
            }
            .author {
                font-size: 14px;
                font-weight: 500;
                color: $hover2;
                cursor: pointer;
            }
            .newPrice {
                font-size: 18px;
                font-weight: 500;
                color: #a31023;
            }
            .title {
                color: #7e7e7e;
                font-size: 12px;
            }
            .colorOrange {
                color: #a31023;
                font-weight: 500;
            }
            .add-to-cart {
                margin: 20px 0;
                padding: 10px 50px;
                text-transform: capitalize;
                border: none;
                background: $bg-button;
                color: #fff;
                padding: 5px;
                font-weight: 500;
                font-size: 14px;
                outline: none;
                &:hover {
                    background: $hover2;
                    transition: 0.2s;
                    border-radius: 5px;
                }
            }
            .ttkm {
                font-weight: 600;
            }
        }
        &-other {
            width: 260px;
            height: 150px;
            border: 1.5px solid #c2c0c0;
            float: right;
            .box {
                padding: 10px;
            }
        }
    }
    &-bottom {
        margin: 0 30px;
        .title {
            font-size: 20px;
            font-weight: 600;
            border-bottom: 2px solid black;
        }
        .desc {
            width: 855px;
            height: 188px;
            overflow: hidden;
        }
    }
}